/* Reset CSS */


/* ------------------------------ KC-consul mobile styles ------------------------ */
.hide_on_pc{display:none !important;}
.mobile {display:none !important;}


.toggle_btn {
	background: url(../img/home/toggle_down.png) no-repeat 0 0;
	width: 45px;
	height: 30px;
	cursor: pointer;
}
.job_list_parent_item .block_active .toggle_btn {
	background: url(../img/home/toggle_up.png) no-repeat 0 0;
}
.fb_iframe_widget span {
    vertical-align: top !important;
}
.menu_btn_area #mobile_primary_menu li span {
	float: none;
	color: #fff;
}
.w250 {
	width: 250px;
}
.w400 {
	width: 400px;
}
.w100 {
	width: 100px;
}
.big_textarea {
	height: 120px;
    margin-bottom: 10px;
    width: 98%;
}
.text-file-400 {
    border: 1px solid #c0c0c0;
    content: "Choose File";
    height: 30px;
    margin-bottom: 10px;
    text-align: left;
    width: 400px;
}
.upload_rule {
	margin:5px 0; 
	font-size:11px; 
	line-height:15px; 
	float: right; 
	width: 300px;
}
.entry_forms_page .twitt_foot_btn a {
	background: url(../img/twitter_btn.png) no-repeat 0 0;
	width: 68px;
	height: 20px;
	display: block;
	color: transparent;
	font-size: 0;
}
.entry_forms_page .fb_iframe_widget span {
    vertical-align: inherit !important;
}
body > iframe, body > frame, body > frameset {
	display: none !important;
}
.form-back {
    border: none;
    display: inline-block;
}
.confirm_toeic {
	left: 100px;
    position: relative;
}
.complete_txt {
	max-width: 700px;
	margin:20px auto;
}

.title-top {
    color: #ab8d58;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    padding: 10px 0;
}
.thank-for-you, .contact-personal {
    padding-top: 40px;
}
.contact-personal-title {
    color: #ab8d58;
    font-weight: bold;
}
.button-complete-page {
    border: thin none;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 47px;
    margin: 0 auto;
    overflow: hidden;
    width: 328px;
}
.button-complete-page {
    height: 48px;
    width: 158px;
}
.entry_easy_confirm_page .no_bb td {
    border-bottom: none !important;
}


@media screen and (max-width:1010px){
	.nav_menu a {
		background: none !important;
		width: auto !important;
		border-right: 1px solid #ccc;
		font-weight: bold;
		font-size: 14px;
	}
	.nav_menu li:last-child a {
		border: none;
	}
	.nav_menu span {
	    position: inherit;
		display: block !important;
	    
	}
	.nav_menu ul li {
		width: 20%;
		text-align: center;
	}
	.nav_menu .active_pr a {
		color: #af9452;
	}
	.right_content {
		width: 32%;
	}
	.left_content {
		width: 66%;
	}
	.seminar_content_index .croll_content_serminar {
		width: 100%;
	}
	.seminar_content_index .title_serminar {
		border-right: none;
	}
	.btl_entry_easy a.entry_tbl_kc img.pc_show {
		display: none !important;
	}
	.btl_entry_easy a.entry_tbl_kc img.mobile_show {
		display: block !important;
	}
	.btl_entry_easy a.entry_tbl_kc:hover img {
		margin: 0;
	}
	.content_category > ul > li > ul > li {
		width: 100%  !important;
		margin: 0 !important;
	}
	.job_info_list_index .cat_child_1 {
		width: inherit;
	}
	ul.job_list_child >li a{
		display:inline !important;
	}
	.content_category > ul > li > ul.job_list_child_fix > li:nth-child(2n+1), .content_category > ul > li > ul.job_list_child_fix > li:nth-child(2n) {
	    width: 100% !important;
	}
	.index_content h3.search {
		float: none;
	}
	.index_content .search_post_txt input.search_form_txt_index {
		width: 80% !important;
	}
	.item_iterview_post li {
		width: 48% !important;
		height: auto  !important;
		padding: 0 1% 1% 1% !important;
	}
	.interview_list_index .item_list_group {
		float: none !important;
		width: 100% !important;
		padding: 0 !important;
		border: none !important;
	}
	
	.item_list_group:first-child .item_list_it2 {
	    border-bottom: 1px solid #ccc;
	}
	ul#job_view li a .title_job_view {
		max-width: 80%;
	}
	ul.interview_slide_bar_public li a span.r {
	    width: 80%;
	}
	ul.interview_slide_bar_public li a span.l {
	    margin: 0 2% 0 0;
	    max-width: 18%;
	}
	.consultant_part_item .right_consultant_part_list {
		width: 66%;
	}
	.consultant_part_item .l {
		max-width: 32%;
	}
	
	.profile_part_view table.tbl_profile th {
	    padding: 10px;
	    width: 80px;
	}
	ul#data_interview li {
		width: 31% !important;
		margin: 0 1% 2% 1% !important;
		padding: 0 !important;
	}
	.interview_entry_btn img.pc {
		display: none;
	}
	.interview_entry_btn img.mobile {
		display: block !important;
	}
	.interview_entry_btn a:hover img {
		margin: 0;
	}
	.interview_entry_btn {
		max-width: 408px;
		margin: 0 auto;
	}
	.index_content .search_post_txt input.search_form_txt_index, .job_search_page .search_post_txt input.search_form_txt_index {
		width: 82% !important;
	}
	#category_sidebar_top .search_job input.search_form_txt {
		width: 66% !important
	}
	#blog_page .author_tg .post_author .author_content_c {
		width: 73%;
	}
	#blog_page .author_tg .post_author .img_author_t {
		width: 25%;
	}
	.entry_forms_page #entry {
		display: none;
	}
	.w580, .w500 {
	    width: 98%;
	}
	
	.selection-style {
	    width: 75px;
	}
	.toeic > div {
	    float: left;
	    padding: 10px 3px;
	}
}

@media screen and (max-width:767px){


ul#data_interview li .title_end,ul#data_interview li .gradient_editor,ul#data_interview li #title_apend_interview,ul#data_interview li #more{
	display: none !important;
}

.group_entry_inter_head{
	margin:0 -1.5% 20px -1.5%;
	padding:10px 1.5% 0px 1.5%;
	border-bottom: 1px dotted #af9452;
}
.other_page_main_img img{
	display:none !important;
}
.other_page_interview_content .interview_detail_top_txt {
	display: none !important;
}

.group_entry_inter_head h4.interview_detail_subtitle{
	padding: 0 0 20px;
}
	
.pc {
	display: none !important;
}
.mobile {
	display: block !important;
}
.pickup_jobinfo {
	padding: 5px 3%;
}
.job_list_parent_item .job_list_child {
	display: none;
}
.job_list_parent_item > li {
	border-bottom: 1px solid #f2f2f2;
}
.group_slide_bar_public {
	padding: 10px 3%;
}
.interview_entry_btn a:hover img {
	margin-top: 0;
}
.content {
	margin-top: 10px;
}
.content_category > ul > li {
	line-height: 30px;
	background-position: left 6px;
	padding: 0 0 5px 25px !important;
	margin: 0 0 7px 0;
}
.content_category > ul > li:last-child {
	border: none;
}
.content_category {
	padding-top: 10px;
}
#title_apend_interview {
	display: none !important;
}
.interview_post_desc {
	bottom: 10px !important;
}

#main-slider{
	display:block;
}
body{
	
    padding: 0;
    margin: 0;
    background-color: #f2f2f2 !important;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #333;
}

.pic_up_news .job_info ul#job_view li,
.clear{
	zoom:1;
}
.pic_up_news .job_info ul#job_view li:after,
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.container{
	max-width:767px !important;
	width:94% !important;
	margin:0 auto !important;
	padding:0 3% !important;
	
}

table#t-seminar td, table#t-seminar th {
	width: 94%;
	padding: 10px 3%;
	display: block;
	border-left: none;
}
table#t-seminar th {
	text-align: left;
}
.content_seminar {
    padding: 30px 3%;
}

.l{float:left;}
.r{float:right;}

/* Header */
.header_top{
	display:none;
}
#container {
    padding: 0 3% !important;
}


#header_inc{
	display:none !important;
}

.footer_content .footer_content_two{
	display:none;
	}
.footer_content .footer_content_three{
	display:none;
	}
.item_content_footer h3.title_ft{
	display:none;
}
.footer_content{
	padding:20px 3% 20px 3%;
	width:94% !important;
	border-top:2px solid #af9452;
}
.footer_content .footer_content_one{
	display:block;
	zoom: 1;
	width:100%;
	float:none;
	
}
.footer_content .footer_content_one:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.footer_entry_frm {
    padding: 20px 3% 60px 3% !important;
}
.toggle_menu {
	position:relative;
	cursor:pointer;
	background:#FFF;
	color:#af9452;
	margin:0;
	border:1px solid #af9452;
	padding: 5px 10px;
	zoom: 1;
}
.footer_content_one .container_menu .menu-button:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.toggle_menu .txt_menu {
	float:left;
	display:block;
	font-size: 16px;
	line-height: 28px;
}
.toggle_menu .icon_menu {
	float:right;
	display:block;
	padding:0 0px 0px 10px;
	border-left:1px solid #af9452;
	background: url(../img/index/footer_menu_icon.png) no-repeat 10px center;
	background-size: 22px 20px;
	width: 22px;
	height: 28px;	
}
.container_menu .active .icon_menu, .toggle_menu_active .icon_menu {
	background: url(../img/index/footer_menu_down_icon.png) no-repeat 10px center;
	background-size: 22px 20px;
}
.backnumber_toggle_btn {
	margin: 15px 0 0 0;
}
.backnumber_toggle_content {
	display: none;
}
ul.interview_slide_bar_public li a span.r {
	float: left;
	width: 80%;
}
ul.interview_slide_bar_public li a span.l {
	max-width: 18%;
	margin: 0 2% 0 0;
}

.menu-button::before {
	background:none !important;
    box-shadow:none !important;
    height: 28px !important;
    width: auto !important;
}

.img_content_main {
	margin: 0 -3%;
}
#interview_content_left {
	padding: 10px 3% 20px 3%;
}
.interview_detail_top_txt {
	color: #af9452;
	font-size: 16px;
	margin: 0 0 15px 0;
}
.interview_detail_title {
	font-size: 15px;
}
.interview_detail_subtitle {
	font-size: 14px;
}
#interview_content_left dd {
	margin-left: 40px;
}
.job_search_page .job_list_parent_item .job_list_child {
    display: block;
}
.job_search_page .toggle_btn {
	display: none !important;
}
.job_search_page .group_note_sd {
	display: block !important;
}
.look-job, .procces-job, .case-job, .interview-job, .related-employ, .newest-job, .recruit-job {
	padding: 20px 3%;
}

.category_list_job_ss .look-content-link_group > ul > li {
	width: 95%;
	padding: 0 0 0 15px;
}
p.title-top {
	font-size: 15px;
}
#page_category_name {
	padding: 10px 3% 15px 3%;
}
.entry-form {
	padding: 20px 3% !important;
}
.entry-form th, .entry-form td {
	display: block;
	width: 94%;
	padding: 10px 3% !important;
}
.w580, .w500 {
	width: 98%;
}
.entry-form td div {
	margin: 0;
	line-height: 43px;
}
.entry-form .select_txt div {
	line-height: 32px !important;
	margin: 0 5px 5px 0;
}
.entry-form .select_txt > div {
	margin: 0 5px 5px 0;
}
#frm_confirm td div {
	margin: 0 10px 0 0;
}
.entry-form-complete div {
	width: auto !important;
}
.entry-form input[type="text"], .entry-form textarea {
	max-width: 96% !important;
	padding: 10px 2%;
	width: 96%;
}
.public_part_ic {
	padding: 10px 3%;
}
.big_textarea, .w400, .w250, .w580, .w500 {
	width: 100%;
}
.button-confirm_btn {
	margin: 0 0 10px 0;
}
.entry_confirm_page .td-content div {
	float: left;
	margin-left: 10px;
}
.select_date {
	width: 60px;
}
.easy_name {
	float: left !important;
	width: 35% !important;
}
.name_label {
	float: left !important;
	width: 30px;
	padding: 0 5px 0 0;
}
.select_area > div {
	float: left;
	margin: 0 2px !important;
}
.break_line_mobile {
	display: block;
	margin: 10px 0 0 0;
}
.break_line_mobile > div {
	margin: 0 5px 0 0 !important;
}
.none_float_mobile {
	float: none !important;
}
.phone > div {
	float: left;
	margin: 0 3px !important;
	width: 31%;
}

.text-personal-400 {
    width: 96%;
}
.toeic > div {
	float: left;
	padding: 10px 3px;
}
.toeic {
	clear: both;
}
.toeic input {
	width: 100px;
}
.date_select {
	clear: both;
}
.date_select > div {
	float: left;
	padding: 5px 2px;
}
.date_select .selection-style {
    width: 75px;
}
.text-file-400 {
	width: 100%;
}
.salary_entry > div {
	float: left;
	padding: 0 5px 0 0;
}
.salary_entry {
	clear: both;
}
.upload_entry {
	float: none;
}
.upload_rule {
	float: none;
	width: 100%;
}
.confirm_languages > div {
	float: none !important;
	left: 0;
}
.entry_easy_form .button-confirm_btn {
	margin: 0 0 10px 0;
}
.entry_forms_page .fixed_footer {
	display: none;
}
.entry_forms_page .footer_entry_frm {
	padding: 20px 3% !important;
}
ul#footer_box_menu{
	border-right:1px solid #af9452;
	border-left:1px solid #af9452;
	border-bottom:1px solid #af9452;
}
.flexnav li a, .flexnav_footer li a{
	padding: 10px 5%;
}
.flexnav_footer, .flexnav{
	width:auto;
}
.flexnav .touch-button, .flexnav_footer .touch-button{
	height: 38px;
}
.flexnav .touch-button .navicon, .flexnav_footer .touch-button .navicon{
	background:none;
	color:#af9452;
	top: 11px;
}
.flexnav li ul li a, .flexnav_footer li ul li a{
	padding-top:10px;
	padding-bottom:10px;
}
.footer_break_top{
	padding:0 3%;
	width:94%;
	margin: 0 auto 20px;
}
.footer_break_top .wauto{
	padding:0;
	margin:0;
	width:100%;
}
.copyright_footer{
	padding:0 0 20px 0;
	border-top:none;
}
.copyright_footer .footer_content{
	border-top:none;
	padding:0 3% 10% 0;
}
#top_index_slider{
	display:none !important;
}
.mobile_slishow{
	display:block;
}
.index_content{
	margin-top:10px !important;
}
ul#job_view li a .title_job_view{
	float:left;
}
ul.job_list_child >li{
	display:block;
	width:100% !important;
	float:none !important;
	margin:0 !important;
}
.index_content h3.search{
	display:block;
	width:100% !important;
	zoom: 1;
}
.index_content h3.search:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.index_content .search_post_txt input.search_form_txt_index, .job_search_page .search_post_txt input.search_form_txt_index {
	float:left !important;
	width:72% !important;
}
.search_post_txt .button_search{
	width:20% !important;
	margin:0 0 0 1%;
}
#blog_page {
	margin-top: 10px;
}
.blog_content {
	padding: 20px 3%;
}
.more_blog a {
    bottom: 0;
    color: transparent;
    font-size: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.more_blog a span {
    background: none !important;
    color: transparent;
    font-size: 0;
}
.blog_wrapper .top_blog {
	padding: 20px 3% 0 3%;
}
.blog_content_detail h4.view_detail_blog_title {
	padding: 20px 3%;
}
#blog_page .content_view_top {
	margin: 0 3%;
}
.blog_detail_top .date {
	float: none;
	margin: 0 0 10px 0;
}
.blog_detail_top .blog_social_btns {
	float: none;
}
#blog_page .blog_detail_top {
	margin: 0 3%;
}
.blog_detail_top .blog_social_btns ul {
	float: none !important;
}
.blog_detail_top .blog_social_btns ul li {
	margin: 0 10px 0 0 !important;
}
#blog_page .author_tg .post_author .author_content_c {
	width: 70%;
}
#blog_page .author_tg .post_author .img_author_t {
	width: 28%;
}
.blog_content_detail .back_number_post {
	padding: 0 3%;
	position: relative;
}
.blog_sidebar #blog_get_js {
	display: none;
}
.go_to_block_list {
	position: absolute;
	bottom: 10px;
	right: 3%;
}
.go_to_block_list a {
	color: #b29347;
}
.blog_content_detail .back_number_post .item_back_number {
	padding-bottom: 30px;
}
.group_interview_top_index{
	padding-bottom:50px;
	position:relative;
}
.group_interview_top_index h3.interview_break a{
	background: #af9452 none repeat scroll 0 0;
    bottom: 10px;
    display: block;
    left: 10px;
    margin: 0 10px 0 0;
    position: absolute;
    top: inherit !important;
	text-align:center;
	padding:10px 0;
	color:#FFF;
}
.group_interview_top_index h3.interview_break a::after {
    display: block;
    height: 10px;
    margin: 4px 0 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}
.group_interview_top_index .interview_content_group ul.item_iterview_post li{
	padding:0px 0px 10px 0 !important;
}
.group_interview_top_index h3.interview_break{
	position:static !important;
}
.group_interview_top_index .interview_content_group ul.item_iterview_post{
	margin:0;
}
.interview_list_index .item_list_group:first-child{
	border-right:none;
}
.interview_list_index .item_list_group{
	width:100%;
}
.interview_list_index .item_list_it{
	padding: 0 3% 0 3%;
}
.slide_bar .btl_entry_easy a.entry_tbl_kc{
	width:100% !important;
	height:auto !important;
	position: relative;
	overflow:inherit;
}
.btl_entry_easy a.entry_tbl_kc:hover img{
	margin:0;
}
.pc_show{
	display:none !important;
}
.mobile_show{
	display:block !important;
}
ul.job_list_child >li > a{
	display:block !important;
	width: 100%;
}

ul.job_list_child >li a span{
	display:inline-block !important;
	width:inherit !important;
}
ul.job_list_child >li > a > span {
	font-weight: bold !important;
}
.content_category > ul > li > ul.job_list_child_fix > li{
	width:100% !important;
}
.content_category > ul > li > ul.job_list_child_fix > li:nth-child(2n+1){
	width:100% !important;
}
.content_category > ul > li > ul.job_list_child_fix > li:nth-child(2n){
	width:100% !important;
}
.content_category > ul > li > ul > li:nth-child(2n+1){
	width:100% !important;
}
.content_category > ul > li > ul > li{
	width:100% !important;
	border-top: 1px solid #f2f2f2;
	padding: 5px 0;
}
.group_interview_parent #filterOptions {
	display: none;
}
.group_interview_parent {
	border: none;
	padding: 15px;
	width: auto;
}
ul.parent_interview_list li {
	float: none;
}
ul.parent_interview_list li a{
	float: none;
}

.policy_part_inc {
	padding-bottom: 30px;
}
#consultant_part .title_img {
	padding: 30px 0 0 0;
}
.title_img .mobile {
	display: inline-block !important;
}
.features_title_about_mobile {
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 10px 0;
}
.policy_content_list_mobile li {
	padding: 0 0 10px 0;
}
.policy_content_list_mobile .minus {
	padding: 0;
	float: left;
	display: block;
	max-width: 87%;
}
.policy_content_list_mobile .nr {
	float: left;
	display: block;
	border: 1px solid #af9452;
	padding: 0 6px;
	margin: 0 2% 0 0;
}
.consultant_part_item .right_consultant_part_list {
	width: inherit;
	float: none;
}
.about_consultant_tmb {
	height: 120px;
	overflow: hidden;
	width: 155px;
	float: none;
}
.about_consultant_tmb img {
	margin-top: -10px;
}
.consultant_part_list_head {
    left: 165px;
    position: absolute;
    top: 10px;
}
.about_consultant_txt {
    padding: 15px 0 0 0;
}
.consultant_part_inc {
	padding-bottom: 30px;
}
.profile_part_view table.tbl_profile th {
	padding: 10px;
	width: 80px;
}
.profile_part_view table.tbl_profile td table.child_tbl_profile tr td {
	display: inline;
}

.right_content {
	margin: 30px 0 0 0;
}
#news_newest .group_entry_easy {
	margin: 0 0 30px 0;
}
#news_newest .blog_sidebar {
	margin: 0;
}
#news_newest .policy_sidebar {
	margin: 20px 0 30px 0 ;
}

.fixed_footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	display:block;
	z-index:999999;
}
.footer_break_top_right a#back-top .mobile_show{
	display:none !important;
}
.fixed_footer .entry_fix{
	width:100%;
	display:block;
	float:left;
}
.fixed_footer .srolltop_fix{
	
	display:block;
	cursor:pointer;
	position: absolute;
	z-index: 999;
	top: -55px;
	right: 3%;
}

.fixed_footer .entry_fix img{
	width:100%;
}

img {
    opacity: 1 !important;
    filter: alpha(opacity=100)!important;
}

img:hover {
    opacity: 1.0 !important;
    filter: alpha(opacity=100)!important;
}

#header_area{
	background:#fff;
	border-bottom: 2px solid #af9452;
}
#top_area{padding:3% 0;position:relative;}

#top_area .l{position:relative;}
#breadcrumb {
	display: none;
}

.big_title{padding-bottom:5px;}

.subtitle{font-size:17px;}

.mobile_menu_btn{
	position:absolute;
	top:17%;
	right:0;
	color:transparent;
	font-size:0;
	background-size: contain !important;
	width: 12% !important;
}
.open_icon{
	background:url(../img/index/button-menu.png) no-repeat;
	width:61px;
	height:59px;
	display:block;
}
.close_icon{
	background:url(../img/index/button-close.png) no-repeat;
	width:57px;
	height:57px;
	display:block;
}
#mobile_primary_menu{
	background:#b39f68;
	max-width:250px;
	width:100%;
	position:absolute;
	right:-3%;
	top:102%;
	z-index:1000;
	display:none;
}
.close_menu_img{display:none;}
#mobile_primary_menu li{
	border-bottom:1px solid #fff;
}
#mobile_primary_menu a{
	display:block;
	padding:10px;
	font-weight:bold;
	color:#fff;
}
#mobile_primary_menu a:hover{
	background:#f2f2f2;
	color:#000;
}

/* Slider */
.nivo-prevNav,
.nivo-nextNav,
.nivo-controlNav{display:none;}
#main-slider{
	border-bottom: 2px solid #af9452;
	margin-bottom:15px;
	width:100%;
	max-width: 100%;
}
.index_catch {
		display: none;
}
.index_catch_mobile {
	padding: 0 3% 10px 3%;
}

.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
	height:auto !important;
}
.policy_sidebar .desc_policy_sidebar p {
	line-height: inherit;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.picup_job_index ul li .title {
	display: block;
	font-weight: bold;
}
.picup_job_index ul li a {
	font-weight: bold;
}
.picup_job_index ul li {
	border-bottom: 1px solid #f2f2f2;
	padding: 0 0 10px 20px;
	margin: 0 0 10px 0;
}
.picup_job_index ul li:last-child {
	border: none;
}
.picup_job_index .group_picup_job_index_b {
	padding: 0;
}
.picup_job_index em {
	display: block;
}
.category_jobs_parent {
	float: left;
}

.content_category .job_count_break, .cat_list_child_block {
	display: block;
}

/* Footer */

/* Footer menu */

.box_footer_menu{
	border:1px solid #af9452;
	position:relative;
	background:url(../img/index/footer_menu_icon.jpg) no-repeat 100% 50% #fff;
}
.footer_menu_icon{
	position:absolute;
	right:0;
	top:50%;
	border-left:1px solid #af9452;
	padding:8px 10px;
	margin-top:-22px;
}
.footer_menu_icon img{width:80%;}
.open_footer_menu_btn{
	padding:20px;
	display:block;
	font-size:15px;
	color:#af9452;
}
#mobile_footer_menu{
	display:none;
	background:#fff;
	border-left:1px solid #af9452;
	border-right:1px solid #af9452;
}
#mobile_footer_menu a{
	display:block;
	padding:10px 20px;
}

#mobile_footer_menu > li{border-bottom:1px solid #af9452;}

.child_footer_menu li{
	border-bottom:1px solid #af9452;
	padding-left:15px;
}
.child_footer_menu li:last-child{border:none;}

.footer_logo{padding-top:20px;}

.copy_right{
	padding-top:15px;
	font-size:11px;
}
.copy_right span{display:block;}
.footer_area{
	border-top: 2px solid #af9452;
	margin-top:50px;
	position:relative;
}
.back_top_btn{
	position:absolute;
	top:-48px;
	right:10px;
	width:44px;
}

#footer_wrap{
	padding:20px 0 30px 0;
	position:relative;
	
}

	/* New style (#page)*/
	.hide_on_pc{display:block !important;}
	.hide_on_mobile{display: none !important}
	
	.left_content,
	.right_content{float:none;width:100%;}
	
	.search_form_txt_index{width:85% !important;}
	.button_search{width:12%;}
	.group_interview_top_index{
		background:#fff;
		border-top: 2px solid #af9452;
		margin-top:30px;
		padding-left:10px;
		padding-right:10px;
	}
	
	.item_iterview_post img, .item_iterview_post li,
	.item_list_group{width:100% !important;float:none !important; height: auto !important;}
	
	.interview_list_index{margin-top:10px;}
	.item_list_group{
		border:none;
	}
	.item_list_it2{border-bottom: 1px solid #CCC;}
	.item_list_group:last-child .item_list_it2{border:none;}

	.date_pic_up block{}
	.title_job_view{width:70%}
	.footer_break_top{background:none;}
	.wauto{padding:0 0 0 5px;}

	.data_interview_content #data_interview li {
		width: 94% !important;
		height: auto !important;
		margin: 0 3% 10px 3% !important;
	}


	.job_info ul#job_view li{
		width: 100%;
		display: block;	
		
	}
	.job_info ul#job_view li .mrr10{
			display: block;
			line-height: 20px;
		float: left;
		width: 4%;
		margin-right: 2%;
	}
.job_info ul#job_view li .title_job_itemt {
	float: left;
	width: 94%;
}
	ul#job_view li a .title_job_view{
		float: none;
		display: block;
	}
	ul#job_view li a .date_pic_up{
		float: none;
		display: block;
	}
	ul#job_view li a .title_job_view{
		float: none;
		display: block;
		width: 100%;
	}

	.menu_btn_area{
		display: block;
	}

	.button_submit{
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #af9452;
	color:#FFF;
	}
	.gold_text,
	.white_text{color:#d7bc4e; text-overflow: ellipsis;overflow: hidden; white-space: nowrap; padding:0 !important; }
	.white_text{color:#fff;}

#category_sidebar_top .search_job input.search_form_txt {
	width: 75% !important;
}


}



@media screen and (max-width:635px){
	.subtitle{font-size:15px;}
}
@media screen and (max-width:560px){
	.subtitle{font-size:13px;}
	.big_title img{width:80%;}
	.related-employ-duty table th, .related-employ-duty table td, .profile_part_view table.tbl_profile th, .profile_part_view table.tbl_profile td {
		display: block;
		padding: 10px 3%;
	    width: 94%;
		text-align: left;
		border-bottom: none !important;
	}
	.related-employ-duty table, .profile_part_view table {
		border-bottom: 1px solid #cacaca;
	}	
}
@media screen and (max-width:485px){

	.consultant_part_item .l {
	    max-width: 35%;
	}
	.consultant_part_list_head {
		left: 38%;
	}
	#interview_content_left dt {
		float: none;
		width: auto;
	}
	#interview_content_left dd {
		margin-left: 0;
		padding-left: 0;
	}
	.container_list_item_content dd img.left_auto_img {
		float: none;
		margin-right: 0;
		display: block;
		max-width: 100%;
	}
	.container_list_item_content dd img.right_auto_img {
		float: none;
		margin-left: 0;
		display: block;
		max-width: 100%;
	}
}

@media screen and (max-width:414px){
	.mobile_menu_btn{width:10%;background-size:contain;}
}
@media screen and (max-width:320px){
	.open_footer_menu_btn {
    	padding: 20px 10px;
		font-size:14px;
	}
	#mobile_footer_menu a{padding:10px;}
}
@media screen and (max-width:309px){
	.big_title{padding:3% 0 3% 0;}
	.subtitle{display:none;}
	
}
@media screen and (max-width:260px){
	#mobile_primary_menu{right:0}
}

